body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

body header {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header h1 {
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: #ffffff;
  margin: 1%;
}

body header nav {
  background-color: #454545;
  width: 100%;
}

body header nav ul {
  list-style-type: none;
  margin-left: 10%;
}

body header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 3vh;
}

body main {
  background-color: #1d2329;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #ui {
  width: 76vw;
  position: relative;
}

body main #ui p {
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  font-size: 3vh;
  text-align: center;
}

body main #ui #sortDropDown {
  position: absolute;
  float: right;
  top: 35%;
  right: 0%;
  text-align: left;
  border: 0;
  border-radius: 5%;
  padding: 0.25%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("img/arrow.png");
  font-size: 2vh;
  text-align: right;
  color: #ffffff;
}

body main #movieWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 80vw;
}

body main #movieWrapper .movieCard {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  justify-items: space-between;
  margin: 2% 0;
  height: 100%;
}

body main #movieWrapper .movieCard img {
  margin: 2%;
  border-radius: 2%;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

body main #movieWrapper .movieCard .cardInfo {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main #movieWrapper .movieCard .cardInfo h3 {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.7vw;
  margin: 3% 2% 2% 2%;
}

body main #movieWrapper .movieCard .cardInfo p {
  color: #ffffff;
  font-size: 1vw;
  max-height: 200px;
  margin: 3% 2% 2% 2%;
}

body main #movieWrapper .movieCard .cardInfo .likes {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2%;
}

body main #movieWrapper .movieCard .cardInfo .likes .likeBtn {
  font-weight: bold;
  font-size: 2vh;
  margin-right: 2%;
  color: transparent;
  text-shadow: 0 0 0 #32a23d;
}

body main #movieWrapper .movieCard .cardInfo .likes .grnCircle {
  background-color: #32a23d;
  border-radius: 100%;
  height: 5vh;
  width: 5vh;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #movieWrapper .movieCard .cardInfo .likes .grnCircle p {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 3vh;
}

body footer {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body footer h2 {
  color: #ffffff;
  font-weight: bold;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  body main #movieWrapper .movieCard .cardInfo .likes .grnCircle {
    height: 3vh;
    width: 3vh;
  }
  body main #movieWrapper .movieCard .cardInfo .likes .grnCircle .likeCounter {
    font-size: 1vh;
  }
}

@media only screen and (max-width: 600px) {
  body header nav ul {
    margin-left: 0;
  }
  body main #ui {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main #ui p {
    display: none;
  }
  body main #ui #sortDropDown {
    position: static;
    margin-top: 2%;
    text-align: center;
  }
  body main #movieWrapper {
    width: 100vw;
  }
  body main #movieWrapper .movieCard {
    -ms-flex-preferred-size: 95%;
        flex-basis: 95%;
  }
  body main #movieWrapper .movieCard .cardInfo h3 {
    font-size: 4vw;
  }
  body main #movieWrapper .movieCard .cardInfo p {
    font-size: 3vw;
  }
  body main #movieWrapper .movieCard .cardInfo .likes .likeBtn {
    font-size: 2vh;
  }
  body main #movieWrapper .movieCard .cardInfo .likes .grnCircle p {
    font-size: 3vh;
  }
}
